<%  if @answer.errors.any? %>
   <h2> Please correct the following: </h2>
     <ul>
    <% @answer.errors.full_messages.each do | message |  %>
       <li> <%= message %> </li>
       <% end %>
     </ul>
   <% end %>

  <%= form_for [@question, @answer] do |f| %>
    <%= f.text_field :description %>
    <%= f.submit("Add Answer") %>
  <% end %>
