<h1> Add a New Answer </h1>



<!-- <form action= "/question/:question_id/answers" method = "post">
  <label for "description"> Description </label>
  <input  type="text" name="answer[description]"  value="<%= @answer.description %>">
  <label for "question_id"> ID </label>
  <input  type="text" name="answer[question_id]"  value="<%= @answer.question_id %>">
  <input type="submit" id= "new_answer" value="Add Answer">
</form> -->

<%= render 'form' %> 
